
body{
    background: lightgray;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Roboto', sans-serif;
}

.blue-text{
    color:blue;
}

.gold-text{
    color:#607d8b;
}

p{
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
h1{
    font-family: Montserrat;
}
h3{
    font-size: 15px;
}
h4{
    font-size: 30px;
    color: blue;
}
ul{
    text-align: justify;
    margin-left: auto;
}

.FB{
    color: blue;
    font-size: 20px;
}

.closing{
    font-size: 10px;
}

a:hover{
    color: green
}

a:active{
    color:yellow;
}

div {
    border: 3px solid gold;
}

text1{
    line-height: 30px;
    font-size: 12px;
}

ul{
    list-style-type: square;
}